<div class="d-flex justify-content-center">
    
    <div class="card">
        <div class="card-body">

            <select class="form-control form-control-lg">
                <option selected disabled hidden>Servidores</option>
                <option>scxxp0820ctm</option>
                <option>scxxp0821ctm</option>
            </select>

            <button type="button" class="btn btn-primary btn-lg mt-4">Testar Conexação</button>
            <button type="button" class="btn btn-secondary btn-lg mt-4">Restart Mysql</button>
            <button type="button" class="btn btn-primary btn-lg mt-4">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg mt-4">Large button</button>
        </div>
    </div>
</div>